.article-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-block__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.find-block {
    width: 185px;
}
.find-block input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
    background-image: url("../../SideBar/search.svg");
    background-repeat: no-repeat;
    background-position: 170px;
    background-size: 13px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}
.section-block {
    width: 1090px;
}